/* ---------- BACKGROUND ---------- */
/* IMAGE */
body::before{
  content:"";
  position:fixed;
  inset:0;
  background:url("IMG_6048.jpeg") no-repeat right center / 1200px auto;
  z-index:-2;
}

/* WHITE GRADIENT OVERLAY */
body::after{
  content:"";
  position:fixed;
  inset:0;
  background:linear-gradient(
    to bottom,
    rgba(255,255,255,.95) 0%,
    rgba(255,255,255,.7) 200px,
    rgba(255,255,255,.3) 400px,
    rgba(255,255,255,0) 600px
  );
  pointer-events:none;
  z-index:-1;
}


/* ---------- HEADER ---------- */
header{
  display:flex;
  justify-content:center;
  padding:24px 16px;
}
header img{max-width:100%;}
